* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: Fira Sans;
}

.app {
  background-color: #222831;
}
