*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: Fira Sans;
}

ul {
  list-style: none;
}
.app {
  background-color: #141414;
}

html {
  scroll-behavior: smooth;
  background-color: #141414;
  overflow-x: hidden;
}
